@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --gradient-start: #1e1b4b;
  --gradient-end: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #d7d7d7;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: var(--foreground);
}

.navbar, .footer {
  background-color: #000000;
  color: #ededed;
}


.animate-rotate {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}